.character_main_container img {
  border-radius: 50%;
}

.character_main_container {
  border-radius: 10px;
  width: calc(360px - 30px - 20px);
  height: 130px;
  margin: 0 5px;
  padding: 10px;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.active,
.character_main_container:hover {
  background-color: #cccccc;
}

.active {
  border: 1px solid #808080;
}

.character_details_container {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* post-bootstrap */
.imgCard {
  max-height: 70px;
  margin: 5px auto;
}
