.chr_table_detail {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  .avatar_job {
    display: flex;
  }
  img {
    width: 40px;
    height: 40px;
  }
}

.bg_obtained {
  background: #16a085;
}
