.main_chr_container {
  background-color: #2a344a29;
  width: 500px !important;
  border-radius: 10px;
  transition: all 0.3s;
  -webkit-box-shadow: -5px -5px 25px -12px rgba(0, 0, 0, 1);
  -moz-box-shadow: -5px -5px 25px -12px rgba(0, 0, 0, 1);
  box-shadow: -5px -5px 25px -12px rgba(0, 0, 0, 1);
  &:hover {
    -webkit-box-shadow: 15px 15px 25px -12px rgba(0, 0, 0, 1);
    -moz-box-shadow: 15px 15px 25px -12px rgba(0, 0, 0, 1);
    box-shadow: 15px 15px 25px -12px rgba(0, 0, 0, 1);
  }
}

.chr_portrait_container {
  position: relative;
  min-width: 18.32rem;
  max-height: 40rem;
  overflow: hidden;
  border: 1px solid #573c3c;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  cursor: pointer;
  .chr_portrait {
    position: relative;
    left: -70px;
    transition: transform 0.7s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }
  .chr_name {
    position: absolute;
    top: 0.31rem;
    left: 1rem;
    color: #cc9f9f;
  }
  .chr_portrait_jobs {
    position: absolute;
    bottom: 4px;
    left: 0;
    width: 100%;
  }
}

.chr_menu_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem 1rem 0.5rem;
  & > * {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
  }
  & button {
    margin: 0;
  }
}
