.character_main_container img {
  border-radius: 50%;
}

.character_main_container {
  border-radius: 65px;
  background-color: #98a6dfd6;
  border: solid black;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.character_details_container {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* post-bootstrap */
.imgCard {
  max-height: 70px;
  margin: 5px auto;
}
