.selectJob {
  display: flex !important;
  flex-direction: column;
  align-content: center;
  background-color: transparent !important;
}

.jobSelect__container {
  display: table;
}

.title_name {
  margin-right: 3rem;
}
