.table_roster {
  font-size: 0.9rem;
  & th {
    width: 117px;
    text-align: center;
  }
  & th:nth-child(1) {
    width: 225px;
  }
  & tr td:not(:first-child) {
    line-height: 85px;
    text-align: center;
  }
  & td,
  & th {
    padding: 5px !important;
  }
}
