.table_roster {
  position: relative;
  font-size: 1rem;
  & tr td:first-child {
    position: sticky;
    left: -1rem;
  }
  & th {
    font-size: 0.9rem;
    width: 117px;
    text-align: center;
  }
  & th:nth-child(1) {
    width: 225px;
  }
  & tr td:not(:first-child) {
    text-align: center;
    padding-top: 1rem !important;
  }
  & td,
  & th {
    padding: 5px !important;
  }
}
