.navbar_container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  background-color: #55efc4;
  height: 70px;
  @media screen and (min-width: 800px) {
    width: 100%;
    flex-direction: row;
  }
}

.grp_list {
  width: 50%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  padding: 10px 40px;
  @media screen and (min-width: 800px) {
    width: 100%;
    flex-direction: row;
  }
}

.list_item {
  display: none;
  @media screen and (min-width: 800px) {
    display: inline-block;
  }
}

.burger {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  color: inherit;
  cursor: pointer;
  font-family: "Material Icons";
  font-size: 30px;
  line-height: 50px;
  margin: 0;
  outline: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 0;
  right: 10px;
  width: 50px;
  &:before {
    content: "menu";
  }
  &:checked:before {
    content: "close";
  }
  &:checked + ul {
    height: 25vh;
  }
  @media screen and (min-width: 800px) {
    display: none;
  }
}
