.fas,
.far {
  margin-right: 0.3rem;
}

.active {
  border: 1px solid #696969af;
}

.App {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.custom__container {
  padding: 1rem;
  background-color: #adfff8b5;
  border-radius: 10px;
}

.form__container {
  max-width: 30rem;
}
